/*
  XXX: Import all the files required for a custom build.

  XXX: "@wearegenki/css" is installed as a dependency of "@wearegenki/ui".
*/

@import "@wearegenki/css/src/_variables-colour";
@import "@wearegenki/css/src/_variables";
@import "./_variables";
@import "./_fonts"; /* include if you're using self-hosted fonts */
@import "@wearegenki/css/src";
@import "@wearegenki/vue-directive-tooltip"; /* include if you're using v-tooltip */
@import "@wearegenki/vue-directive-view"; /* include if you're using v-view */

/* XXX: Your app's global styles should go here. */

h2 {
  text-transform: uppercase;
}
