/* FIXME: Better hover state -- should also be applied to toggle, maybe inputs, etc. */

/* TODO: Active (clicked on) state -- think microinteraction */

.btn {
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  line-height: 1;
  color: var(--btn-text-colour);
  background-color: var(--btn-bg-colour);
  border: 0;
  border-radius: var(--btn-radius);
  transition: background-color 150ms;

  @if var(--use-filter-shadow) {
    filter: drop-shadow(var(--btn-shadow));
    /* filter: drop-shadow(var(--shadow-subtle)); */
  } @else { /* stylelint-disable-line */
    box-shadow: var(--btn-shadow-nofilter);
  }

  &:hover,
  &:focus {
    color: unset; /* prevent change when applied to links */
    text-decoration: none;
    background-color: var(--btn-hover-bg-colour);
    transition: background-color 50ms;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--btn-disabled-text-colour);
    background-color: var(--btn-bg-colour);
    border: 1px solid var(--btn-disabled-border-colour);

    @if var(--use-filter-shadow) {
      filter: none;
    } @else { /* stylelint-disable-line */
      box-shadow: none;
    }
  }
}

.btn-main,
.btn-cta {
  color: var(--white);
}

.btn-main {
  background-image: linear-gradient(115deg, var(--primary-gradient-35), var(--primary-gradient-90));

  @if var(--use-filter-shadow) {
    filter: drop-shadow(0 0.125rem 0.375rem color(var(--primary-gradient-90) alpha(0.4)));
  } @else { /* stylelint-disable-line */
    box-shadow: 0 0.125rem 0.375rem color(var(--primary-gradient-90) alpha(0.4));
  }
}

.btn-cta {
  background-image: linear-gradient(115deg, var(--secondary-gradient-35), var(--secondary-gradient-90));
  background-image: linear-gradient(284deg, #1cc7d0, #2dde98);

  @if var(--use-filter-shadow) {
    filter: drop-shadow(0 0.25rem 0.75rem rgba(45, 222, 152, 0.4));
  } @else { /* stylelint-disable-line */
    box-shadow: 0 0.25rem 0.75rem rgba(45, 222, 152, 0.4);
  }
}

/* Remove browser default button styles */
.btn-clear {
  background: transparent;
  border: 0;

  @if var(--use-filter-shadow) {
    filter: none;
  } @else { /* stylelint-disable-line */
    box-shadow: none;
  }

  &:hover,
  &:focus {
    color: unset; /* prevent change when applied to links */
  }
}

/* Make links whitespace same as buttons */
.btn-link {
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  margin: 0;
  line-height: 1;
}

.btn-arrow {
  display: inline-block;
  transition: transform var(--btn-arrow-animate-speed) ease;

  .btn:hover & {
    transform: translateX(0.3rem);
  }
}

/* Spacing between buttons */
.btn + .btn {
  margin-left: var(--btn-margin-between);
}
