/* FIXME: Better hover state -- should also be applied to toggle, maybe inputs, etc. */

.btn {
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  line-height: 1;
  color: var(--btn-text-colour);
  background-color: var(--btn-bg-colour);
  border: 0;
  border-radius: var(--btn-radius);
  box-shadow: var(--btn-shadow);
  transition: background-color 150ms;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--blue-grey-100);
    transition: background-color 50ms;
  }
}

.btn-main,
.btn-cta {
  color: var(--white);
}

.btn-main {
  background-image: linear-gradient(115deg, var(--primary-gradient-35), var(--primary-gradient-90));
  box-shadow: 0 0.125rem 0.375rem 0 color(var(--primary-gradient-90) alpha(0.4));
}

.btn-cta {
  background-image: linear-gradient(115deg, var(--secondary-gradient-35), var(--secondary-gradient-90));
  background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
  box-shadow: 0 0.25rem 0.75rem rgba(45, 222, 152, 0.4);
}

/* Remove browser default button styles */
.btn-clear {
  background: transparent;
  border: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    color: unset; /* prevent colour change when applied to links */
  }
}

/* Make links whitespace same as buttons */
.btn-link {
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  margin: 0;
  line-height: 1;
}

/* Spacing between buttons */
.btn + .btn {
  margin-left: var(--btn-margin-between);
}

.btn-clear + .btn-clear {
  margin-left: 0;
}
