/* Cards */

.card {
  position: relative;
  padding: var(--card-padding-y) var(--card-padding-x);
  margin: 0;
  word-wrap: break-word;
  background-color: var(--card-bg-colour);
  border-radius: var(--radius-2); /* FIXME: KEEP? */

  @if var(--use-drop-shadow) {
    filter: drop-shadow(var(--card-shadow));
  } @else { /* stylelint-disable-line */
    box-shadow: var(--card-shadow-legacy);
  }

  & > .card-body > h3 { /* TODO: Keep? */
    font-weight: var(--font-weight-heavy);
  }

  /* TODO: Move values into variable */
  &.has-btn {
    padding: 0 0 2.9rem;
  }
}

.card-touch {
  z-index: var(--card-touch-zindex);
  color: var(--card-touch-font-colour);
  background-color: var(--card-touch-bg-colour);

  @if var(--use-drop-shadow) {
    filter:
      drop-shadow(var(--card-touch-shadow-1))
      drop-shadow(var(--card-touch-shadow-2));
    transition: transform var(--card-touch-animate-speed) ease, filter var(--card-touch-animate-speed) ease;

    @if var(--card-touch-optimize) {
      will-change: transform, filter;
    }
  } @else { /* stylelint-disable-line */
    box-shadow:
      var(--card-touch-shadow-1-legacy),
      var(--card-touch-shadow-2-legacy);
    transition: transform var(--card-touch-animate-speed) ease, box-shadow var(--card-touch-animate-speed) ease;

    @if var(--card-touch-optimize) {
      will-change: transform, box-shadow;
    }
  }

  &:hover {
    color: var(--card-touch-font-colour);
    text-decoration: unset; /* no need to underline links as it's obvious this element is interactive */
    transition-duration: var(--card-touch-animate-speed); /* overrides <a> when .card-touch is used on a link */

    @if var(--use-drop-shadow) {
      filter:
        drop-shadow(var(--card-touch-hover-shadow-1))
        drop-shadow(var(--card-touch-hover-shadow-2));
      transform: translateY(-7px);
    } @else { /* stylelint-disable-line */
      box-shadow:
        var(--card-touch-hover-shadow-1-legacy),
        var(--card-touch-hover-shadow-2-legacy);
      transform: translateY(-5px);
    }
  }
}

/* TODO: Move values into variables */
/* TODO: Use existing variables where possible */

/* NOTE: Current implementation is limited to only one button per card */
.btn-card {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  text-align: center;
  /* background-color: var(--card-touch-bg-colour); */
  border-top: 1px solid hsl(240, 67%, 96%);
  border-bottom-right-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);

  /* .card-touch:hover > &,
  .card-touch:focus > & {
    background-color: var(--grey-100);
  } */
}
