/* Cards */

.card {
  padding: var(--card-padding-y) var(--card-padding-x);
  margin: 0;
  word-wrap: break-word;
  background-color: var(--card-bg-colour);

  @if var(--use-drop-shadow) {
    filter: drop-shadow(var(--card-shadow));
  } @else { /* stylelint-disable-line */
    box-shadow: var(--card-shadow-nofilter);
  }

  & > .card-body > h3 { /* TODO: Keep? */
    font-weight: var(--font-weight-heavy);
  }
}

.card-touch {
  z-index: 1;
  background-color: var(--card-touch-bg-colour);

  @if var(--use-drop-shadow) {
    filter:
      drop-shadow(var(--card-touch-shadow1))
      drop-shadow(var(--card-touch-shadow2));
    transition: transform var(--card-touch-animate-speed) ease, filter var(--card-touch-animate-speed) ease;
    will-change: transform, filter;
  } @else { /* stylelint-disable-line */
    box-shadow:
      var(--card-touch-shadow1-nofilter),
      var(--card-touch-shadow2-nofilter);
    transition: transform var(--card-touch-animate-speed) ease, box-shadow var(--card-touch-animate-speed) ease;
    will-change: transform, box-shadow;
  }

  &:hover {
    text-decoration: unset; /* no need to underline links as it's obvious this element is interactive */

    @if var(--use-drop-shadow) {
      filter:
        drop-shadow(var(--card-touch-hover-shadow1))
        drop-shadow(var(--card-touch-hover-shadow2));
      transform: translateY(-7px);
    } @else { /* stylelint-disable-line */
      box-shadow:
        var(--card-touch-hover-shadow1-nofilter),
        var(--card-touch-hover-shadow2-nofilter);
      transform: translateY(-5px);
    }
  }

  &:hover .btn-clear {
    color: var(--link-hover-text-colour);
    background-color: unset;
  }
}

/* TODO: Image veiled overlay + reveal on hover -- works to bring focus on card body first before looking at the image (but what about the touch device experience?) */
/* REF: https://www.algolia.com/customers */
/*  ↳ + them badges are nice yo! */
