/* Cards */

.card {
  padding: var(--card-padding-y) var(--card-padding-x);
  word-wrap: break-word;
  background-color: var(--card-bg-colour);
  border-radius: var(--radius-2);

  @if var(--use-drop-shadow) {
    filter: drop-shadow(var(--card-shadow));
  } @else { /* stylelint-disable-line */
    box-shadow: var(--card-shadow-legacy);
  }
}

.card-touch {
  z-index: var(--card-touch-zindex);
  margin: 0;
  color: var(--card-touch-font-colour);

  @if var(--use-drop-shadow) {
    filter:
      drop-shadow(var(--card-touch-shadow-1))
      drop-shadow(var(--card-touch-shadow-2));
    transition: all var(--card-touch-animate-speed) ease;

    @if var(--card-touch-optimize) {
      will-change: transform, filter;
    }
  } @else { /* stylelint-disable-line */
    box-shadow:
      var(--card-touch-shadow-1-legacy),
      var(--card-touch-shadow-2-legacy);
    transition: all var(--card-touch-animate-speed) ease;

    @if var(--card-touch-optimize) {
      will-change: transform, box-shadow;
    }
  }

  &:hover {
    color: var(--card-touch-font-colour);
    text-decoration: unset;

    @if var(--use-drop-shadow) {
      filter:
        drop-shadow(var(--card-touch-hover-shadow-1))
        drop-shadow(var(--card-touch-hover-shadow-2));
      transform: translateY(var(--card-touch-animate-distance));
    } @else { /* stylelint-disable-line */
      box-shadow:
        var(--card-touch-hover-shadow-1-legacy),
        var(--card-touch-hover-shadow-2-legacy);
      transform: translateY(var(--card-touch-animate-distance-legacy));
    }
  }
}

.card-has-btn {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.btn-card {
  padding: var(--btn-padding-y) var(--btn-padding-x);
  margin-top: auto;
  text-align: center;
  border-top: var(--card-btn-border);
  border-bottom-right-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
}
