/* FIXME: Better approach at custom input and label sizing */
/* TODO: Create variables for relevant properties */

form {
  margin-top: 1rem;
}

.form-row {
  /* display: flex; */
  /* flex-direction: column; */
  margin-bottom: 1rem;
}

.form-help {
  display: block;
  margin-top: 0.25rem;
  color: var(--form-help-font-colour);
}

label {
  display: block;
}

.form-label {
  /* min-width: 6.5rem; */
}

.input,
.select,
.textarea,
input,
select,
textarea {
  /* min-width: 17rem; */
  /* max-width: 100%; */
  padding: var(--input-padding-y) var(--input-padding-x);
  font-size: var(--input-font-size);
  color: var(--input-font-colour);
  background-color: var(--input-bg-colour);
  border: var(--input-border);
  border-radius: var(--input-radius);

  &:hover {
    border-color: var(--input-hover-border-colour);
  }

  &:focus,
  &:active {
    outline: var(--input-focus-outline);
  }

  /* FIXME: Remove; failed experiment */
  /* &:valid {
    box-shadow: 0 0 0.5rem 0.15rem var(--input-valid-colour);
  }

  &:invalid {
    box-shadow: 0 0 0.5rem 0.15rem var(--input-invalid-colour);
  } */

  &::placeholder {
    color: var(--input-placeholder-font-colour);
  }

  &.input-small { /* stylelint-disable-line selector-no-qualifying-type */
    min-width: 5rem;
    max-width: 7rem;
  }

  &[disabled] {
    color: var(--input-disabled-font-colour);
    background-color: var(--input-bg-colour);
    border: 1px solid var(--input-disabled-border-colour);

    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      color: var(--input-disabled-placeholder-font-colour);
    }
  }
}

/* TODO: Style better; this sucks */
input[type="checkbox"] {
  width: 1.6rem;
  min-width: unset;
  height: 1.6rem;
  margin-right: 0.5rem;
}

/* visually join an input and button together */
/* FIXME: .btn needs an active state (globally they still need both hover and active) */
.input-group {
  display: inline-flex;

  &:hover {
    & > input,
    & > .btn {
      border-color: var(--input-hover-border-colour);
    }
  }

  & > input {
    /* so outline doesn't look strange when active + hide rounded corners */
    @mixin min margin-right, -2px, var(--radius-negative);

    &:focus + .btn,
    &:active + .btn {
      outline: var(--input-focus-outline);
    }
  }

  & > .btn {
    border: var(--input-border);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @if var(--use-drop-shadow) {
      filter: none;
    } @else { /* stylelint-disable-line */
      box-shadow: none;
    }
  }
}
