/* FIXME: Create variables for relevant properties */

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block; /* forces label to render above the input */
  margin-bottom: 0.5rem;
  color: var(--grey-800);
  text-transform: uppercase;

  input[type="radio"] + &,
  input[type="checkbox"] + & {
    display: inline-block;
    margin-bottom: 0;
  }
}

.input,
.select,
.textarea,
input,
select,
textarea {
  padding: var(--input-padding-y) var(--input-padding-x);
  font-size: var(--input-font-size);
  color: var(--input-font-colour);
  background-color: var(--input-bg-colour);
  border: var(--input-border);
  border-radius: var(--input-radius);

  &:hover {
    border-color: var(--input-hover-border-colour);
  }

  &:focus,
  &:active {
    outline: var(--input-focus-outline);
  }

  &::placeholder {
    color: var(--input-placeholder-font-colour);
  }

  &[disabled],
  &[disabled]:focus,
  &[disabled]:active {
    color: var(--input-disabled-font-colour);
    background-color: var(--input-bg-colour);
    border: var(--input-border-width) solid var(--input-disabled-border-colour);
    outline: none;

    &::placeholder {
      color: var(--input-disabled-placeholder-font-colour);
    }
  }
}

/* TODO: Style better; this sucks */
input[type="checkbox"] {
  width: 1.6rem;
  min-width: unset;
  height: 1.6rem;
  /* margin-right: 0.5rem; */
}

.form-help {
  display: block;
  margin-top: 0.5rem;
  color: var(--form-help-font-colour);
}

/* Form validation */

.invalid {
  border: var(--input-invalid-border);
  outline-color: var(--input-invalid-colour);
}

.invalid-feedback {
  display: none;
  margin-top: 0.5rem;
  color: var(--input-invalid-colour);

  .invalid + & {
    display: block;
  }
}

/* Grouped inputs */

/* visually join an input and button together */
/* FIXME: .btn needs an active state (globally they still need both hover and active) */
.input-group {
  display: inline-flex;

  & > .btn {
    border: var(--input-border);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @if var(--use-drop-shadow) {
      filter: none;
    } @else { /* stylelint-disable-line */
      box-shadow: none;
    }
  }

  /* TODO: Consider removing these */
  & > .btn-cta {
    border-color: var(--secondary);
  }

  & > .btn-dark {
    border-color: var(--dark);
  }

  & > .btn-main {
    border-color: var(--primary);
  }

  & > input {
    /* so border doesn't look strange when active + hide rounded corners */
    @mixin min margin-right, -2px, var(--radius-1-negative);

    /* TODO: Consider removing this */
    &:focus + .btn,
    &:active + .btn {
      outline: var(--input-focus-outline);
    }
  }

  /* TODO: Consider removing this */
  &:hover {
    & > input,
    & > .btn { /* stylelint-disable-line no-descending-specificity */
      border-color: var(--input-hover-border-colour);
    }
  }
}
