/* Grid Templates */

/* TODO: Might want to use long form instead of this shorthand for IE compatibility */
/* TODO: I highly suspect we may need to use @supports (display: grid) {} here eventually */

/* Horizontal card */
.card-t-h {
  /* position: relative; */ /* XXX: Related to below */
  grid-template:
    "img"
    "body"
    "btn"
    / auto;
  /* overflow: hidden; */ /* XXX: Related to below */

  @media (--breakpoint-medium) {
    grid-column-gap: 0;
  }

  @media (--breakpoint-not-small) {
    grid-template:
      "img body"
      "img btn"
      / minmax(auto, 55%) 1fr;
  }
}

.card-img {
  grid-area: img;
  width: 100%;
  /* XXX: Like background-size:cover but using a foreground <img> */
  /* position: absolute;
  grid-area: img;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;
  min-width: 100%;
  min-height: 100%;
  margin: auto; */
}

.card-body {
  grid-area: body;
  align-self: start;
  padding: 1rem 1rem 0;
}

.card-btn {
  grid-area: btn;
  align-self: end;
  padding: 0 1rem 1rem;
}
