/* Grid Templates */

/* TODO: Might want to use long form instead of this shorthand for IE compatibility */
/* TODO: I highly suspect we may need to use @supports (display: grid) {} here eventually */

/* FIXME: DEPRECATED: We're not using this anymore and so it should be removed! */

/* Horizontal card */
/*
.card-t-h {
  grid-column-gap: 0;
  grid-template:
    "img"
    "body"
    "btn"
    / auto;

  @media (--breakpoint-small) {
    grid-column-gap: 0;
  }

  @media (--breakpoint-large) {
    grid-column-gap: 0;
    grid-template:
      "img body"
      "img btn"
      / minmax(auto, 55%) 1fr;
  }
}

.card-img {
  grid-area: img;
  width: 100%;
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);

  @media (--breakpoint-large) {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius-2);
  }
}

.card-body {
  grid-area: body;
  align-self: start;
  padding: var(--template-card-body-padding);
}

.card-btn {
  grid-area: btn;
  align-self: end;
  padding: var(--template-card-button-padding);
}
*/
