/* NAVIGATION */

.nav-link {
  padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
  margin: 0; /* offset large link click area */
}

/* Side menu */

.side-nav {
  display: flex;
  flex-direction: column;

  & > .nav-link {
    margin: var(--side-nav-link-margin-y) 0;
    border-left: var(--side-nav-border-width) solid transparent;

    &.active {
      color: var(--side-nav-active-font-colour);
      text-decoration: none;
      background-color: var(--side-nav-active-bg-colour);
    }

    &.active,
    &:hover,
    &:focus {
      border-left-color: var(--side-nav-border-colour);
    }

    &.exact {
      cursor: default;
    }
  }
}

/* Footer */

.footer {
  margin-top: var(--footer-margin-y);
  margin-bottom: var(--footer-margin-y);
  color: var(--footer-font-colour);

  > .nav-link { /* stylelint-disable-line no-descending-specificity */
    margin: calc(-1 * var(--link-click-area)); /* offset large link click area */

    &:first-of-type {
      margin-left: calc(-1 * var(--gutter-col));
    }
  }
}

/* Minimal navbar (lightweight alternative to navbar component) */

/* top navbar menu */
.navbar-mini {
  color: var(--navbar-font-colour);
  background-color: var(--navbar-bg-colour);
  box-shadow: var(--navbar-shadow);

  .nav-link { /* stylelint-disable-line no-descending-specificity */
    color: var(--navbar-font-colour);

    &:hover {
      background-color: var(--navbar-hover-bg-colour);
    }
  }
}

/* hamburger menu icon */
.icon-menu {
  display: inline-block;
  width: var(--navbar-hamburger-size-x);
  height: 0.125rem;
  /* margin: 0.5rem; */ /* use margin here because padding breaks the icon */
  vertical-align: 5px;
  box-shadow:
    inset 0 0 0 2rem var(--navbar-hamburger-font-colour),
    0 -0.375rem var(--navbar-hamburger-font-colour),
    0 0.375rem var(--navbar-hamburger-font-colour);
}
