/* Position */

.pos-f { position: fixed; }
.pos-a { position: absolute; }
.pos-r { position: relative; }
.pos-s { position: static; }
.pos-i { position: initial; } /* default */

/* Floats */

.float-l { float: left; }
.float-r { float: right; }

@each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
  @media ($media) {
    .pos-f-$(ext) { position: fixed; }
    .pos-a-$(ext) { position: absolute; }
    .pos-r-$(ext) { position: relative; }
    .pos-s-$(ext) { position: static; }
    .pos-i-$(ext) { position: initial; }

    .float-l-$(ext) { float: left; }
    .float-r-$(ext) { float: right; }
  }
}

/* Direction */

/* TODO: If we never use anything other than .t0, .r0, .b0, l0 then remove the other steps here */

@each $step, $val in (var(--spacing-steps)), (var(--spacing-values)) {
  .t$(step) { top: $val; }
  .r$(step) { right: $val; }
  .b$(step) { bottom: $val; }
  .l$(step) { left: $val; }

  @each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
    @media ($media) {
      .t$(step)-$(ext) { top: $val; }
      .r$(step)-$(ext) { right: $val; }
      .b$(step)-$(ext) { bottom: $val; }
      .l$(step)-$(ext) { left: $val; }
    }
  }
}

.t-unset { top: unset; }
.r-unset { right: unset; }
.b-unset { bottom: unset; }
.l-unset { left: unset; }
/* FIXME: These aren't working! */
/* FIXME: Not getting removed by PurgeCSS */
/* stylelint-disable declaration-no-important */
[class="t-unset!"] { top: unset !important; }
[class="r-unset!"] { right: unset !important; }
[class="b-unset!"] { bottom: unset !important; }
[class="l-unset!"] { left: unset !important; }
