/*
  REBOOT

  README:
    Extra browser resets on top of our _normalise.css
*/

html,
body,
div,
nav,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden; /* opinionated */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.btn,
.select,
button,
select {
  cursor: pointer;
  outline-offset: -2px; /* consistency between browsers */
}

input,
textarea {
  cursor: text;
  outline-offset: -2px; /* consistency between browsers */
}

/* disabled elements */
.disabled,
[disabled],
:disabled {
  cursor: not-allowed !important; /* stylelint-disable-line declaration-no-important */
}

/* simple horizontal rule */
hr {
  margin: var(--hr-margin);
  border: 0;
  border-top: 1px solid var(--grey-300);
}

/* responsive images (opinionated) */
img {
  max-width: 100%;
  height: auto;
}
