/*
  SECTION

    A way to break up long pages and add visual interest.

  HTML LAYOUT:
    <section class="slant">
      <div class="con tc">
        <h2 class="mt0">Example slant section</h2>
        <p class="lead">Your text.</p>
      </div>
    </section>

    <section class="slant-cta">
      <div class="con tc">
        <h2 class="mt0">Example CTA slant</h2>
        <p class="lead">Your text.</p>
      </div>
    </section>

*/

/* Slant */

.slant,
.slant-cta {
  position: relative;
  padding: calc(var(--slant-size-factor) / 2) 0;
  margin: calc(var(--slant-size-factor) * 2) 0;
  background-color: var(--slant-bg-colour);

  &::before,
  &::after {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: calc(var(--slant-size-factor) * 3);
    content: "";
    background-color: var(--slant-bg-colour);
    transform: skewY(var(--slant-angle));

    @media (--breakpoint-large) {
      transform: skewY(var(--slant-angle-large));
    }
  }

  &::before {
    top: calc(-1 * var(--slant-size-factor));
  }

  &::after {
    bottom: calc(-1 * var(--slant-size-factor));
  }
}

.slant-cta {
  color: var(--slant-cta-font-colour);
  background-color: var(--slant-cta-bg-colour);

  &::before,
  &::after {
    background-color: var(--slant-cta-bg-colour);
  }

  strong {
    color: var(--slant-cta-font-colour);
  }

  a {
    color: var(--slant-cta-link-colour);
  }
}

/* Hero */

.hero {
  padding: 2rem 0;
  margin-bottom: 2rem;
  color: var(--white);
  background-image: var(--gradient-primary);
}
