/* TYPOGRAPHY */

/* Fluid font size (experimental) */
/* TODO: Extensive cross browser testing because rem fonts on <html> is uncommon */

@if var(--font-size-fluid-enabled) {
  html {
    @mixin font-size-fluid var(--font-size), var(--font-size-fluid-max), var(--font-size-fluid-from), var(--font-size-fluid-until);
  }
}

/* Font base */

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--body-colour);
  background-color: var(--body-bg);
}

@if NOT (var(--font-size-fluid-enabled)) {
  body {
    @media (--breakpoint-small) {
      font-size: var(--font-size-s);
    }

    @media (--breakpoint-large) {
      font-size: var(--font-size-l);
    }
  }
}

/* Headings */

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-light);

  & > small {
    color: var(--grey-500);
  }
}

h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
h4 { font-size: var(--h4-font-size); }
h5 { font-size: var(--h5-font-size); }
h6 { font-size: var(--h6-font-size); }

.headline { font-size: var(--headline-font-size); }

/* Paragraphs */

p {
  line-height: 1.5;
}

.lead {
  font-size: 1.625rem;
  font-weight: var(--font-weight-light);
}

/* Links */

.link,
a {
  padding: var(--link-click-area); /* larger link click area size */
  margin: calc(-1 * var(--link-click-area));
  color: var(--link-colour);
  text-decoration: none;
  word-wrap: break-word;
  transition: color var(--link-animate-out-speed) var(--link-animate-out-curve);

  &:hover {
    color: var(--link-hover-colour);
    text-decoration: underline;
    transition-duration: var(--link-animate-in-speed);
    /* transition-timing-function: var(--link-animate-in-curve); */
  }

  /* @media (--breakpoint-not-small) {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem;
  } */
}

/* Lists */
/* TODO: Move to a better place */
li { margin-bottom: 0.5rem; } /* extra space between list items */

.lsn {
  padding-left: 0;
  list-style: none;
}

/* dl::after { clear: both; } */ /* TODO: necessary? */
dt { float: left; } /* TODO: Could this be achieved with flex or grid somehow? */

/* Text alignment */

.tl { text-align: left; } /* default */
.tr { text-align: right; }
.tc { text-align: center; }
.tj { text-align: justify; }

/* Text transform */

.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

@each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
  @media ($media) {
    .tl-$(ext) { text-align: left; }
    .tr-$(ext) { text-align: right; }
    .tc-$(ext) { text-align: center; }
    .tj-$(ext) { text-align: justify; }

    .ttc-$(ext) { text-transform: capitalize; }
    .ttl-$(ext) { text-transform: lowercase; }
    .ttu-$(ext) { text-transform: uppercase; }
    .ttn-$(ext) { text-transform: none; }
  }
}

/* Quotes */

/* blockquote {} */

.quote {
  font-size: 2rem;

  &::before,
  &::after {
    position: absolute;
    font-size: 3em; /* em (not rem) so it's relative to the parent font size */
  }

  &::before {
    content: "“";
  }

  &::after {
    content: "”";
  }
}

/* Font/decoration variants */

.bold { font-weight: 700; }
.italic { font-style: italic; }

.normal {
  font-style: normal;
  font-weight: var(--font-weight);
}

.underline { text-decoration: underline; }

/* Abbreviations */

abbr[title] {
  text-decoration: none;

  /* TODO: So many styles feels a bit over the top -- refactor while keeping the same effect */
  &::after {
    position: relative;
    bottom: 0.4rem;
    z-index: -1;
    display: block;
    height: 0.3rem;
    margin-bottom: -0.3rem;
    content: "";
    background: var(--yellow-400);
  }
}

/* Code */
code {
  display: inline-block;
  padding: 0.1em 0.4em;
  color: var(--red-500);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-300);
  border-radius: 0.15em;
}
