/*
  UTILITIES

  README:
    TODO: Write me!

*/

/* Borders */

.bt0 { border-top: 0; }
.br0 { border-right: 0; }
.bb0 { border-bottom: 0; }
.bl0 { border-left: 0; }

.rad { border-radius: var(--radius); }
.rad0 { border-radius: 0; }

/* stylelint-disable declaration-no-important */
.bt0-i { border-top: 0 !important; }
.br0-i { border-right: 0 !important; }
.bb0-i { border-bottom: 0 !important; }
.bl0-i { border-left: 0 !important; }

.rad0-i { border-radius: 0 !important; }
/* stylelint-enable declaration-no-important */

/* Scroll prevention */

.scroll-lock {
  height: 100%;
  overflow-y: hidden;
}

/* Clearfix */

.clr {
  @mixin clearfix;
}

/* Box model */

.content-box { box-sizing: content-box; }
.border-box { box-sizing: border-box; }

/* Cursors */

.pointer { cursor: pointer; }
.help { cursor: help; } /* useful with the v-tooltip Vue custom directive */

/* SVG icons */

.icon {
  width: 1rem;
  height: 1rem;
}

.icon-s {
  width: 1.2rem;
  height: 1.2rem;
}

.icon-l {
  width: 1.5rem;
  height: 1.5rem;
}

/* Line height hack */

.lh0 { line-height: 0; }
