/* Border radius */

.rad {
  border-radius: var(--radius);
}

/* Scroll prevention */

.scroll-lock {
  height: 100%;
  overflow-y: hidden;
}

/* Clearfix */

.clr {
  @mixin clearfix;
}

/* Box model */

.content-box { box-sizing: content-box; }
.border-box { box-sizing: border-box; }

/* Cursors */

.pointer { cursor: pointer; }
.help { cursor: help; } /* useful with the v-tooltip Vue custom directive */
