/* Scroll prevention */

.scroll-lock {
  height: 100%;
  overflow-y: hidden;
}

/* Position */

.pos-f { position: fixed; }
.pos-a { position: absolute; }
.pos-r { position: relative; }
.pos-s { position: static; }
.pos-i { position: initial; } /* default */

/* Border radius */

.rad {
  border-radius: var(--radius);
}

/* Floats */

.float-l { float: left; }
.float-r { float: right; }

@each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
  @media ($media) {
    .pos-f-$(ext) { position: fixed; }
    .pos-a-$(ext) { position: absolute; }
    .pos-r-$(ext) { position: relative; }
    .pos-s-$(ext) { position: static; }
    .pos-i-$(ext) { position: initial; }

    .float-l-$(ext) { float: left; }
    .float-r-$(ext) { float: right; }
  }
}

/* Clearfix */

.clr {
  @mixin clearfix;
}

/* Background colour */
/* FIXME: Remove if unused; intended for debugging */
.bg-dark {
  background-color: var(--blue-grey-800);

  &,
  a {
    color: var(--white);
  }
}

.bg-blue {
  background-color: var(--blue-500);

  &,
  a {
    color: var(--white);
  }
}

.bg-red {
  background-color: var(--red-500);

  &,
  a {
    color: var(--white);
  }
}

/* FIXME: Put in a better place */
.bg-hover:hover {
  background-color: var(--blue-grey-50);
}
