/*
  VARIABLES

    Anything you may want to customise is probably a variable here.

*/

/* Media queries */
@custom-media --breakpoint-small screen and (min-width: 30.01em) and (max-width: 48em);
@custom-media --breakpoint-large screen and (min-width: 48.01em);

:root {
  /* Options */
  /**
   * Force hardware acceleration on animated elements, may be buggy. More
   * information: https://developer.mozilla.org/en-US/docs/Web/CSS/will-change
   */
  --optimize: false;
  /**
   * Better performance by using filter:drop-shadow() for shadows, may be buggy.
   */
  --use-drop-shadow: false;
  /**
  * Dynamic font size based on viewport width. This works well but is somewhat
  * experimental and may break your site on very old browsers.
  */
  /* TODO: @TESTING: Cross-browser compatibility */
  --use-font-size-fluid: false;

  /* Breakpoints */
  --breakpoints-media: --breakpoint-small, --breakpoint-large;
  --breakpoints: s, l;

  /* Grid */
  --container-width-max: 70rem;
  --container-narrow-width-max: 30rem;
  --item-size: 1fr;
  --cols: auto;
  --rows: auto;
  --auto-cols: var(--item-size);
  --auto-rows: auto;
  --col-steps: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  --row-steps: 1, 2, 3, 4, 5, 6;
  --gutter-col: 1rem;
  --gutter-col-l: calc(var(--gutter-col) * 2);
  --gutter-row: var(--gutter-col);
  --gutter-row-l: var(--gutter-row);

  /* General */
  --spacing-steps: 0, 1, 2, 3, 4, 5, 6, 7;
  --spacing-values: 0, 0.25rem, 0.5rem, 1rem, 2rem, 4rem, 8rem, 16rem;
  --radius: 0.1875rem; /* 3px at root */
  --radius-negative: -0.1875rem; /* used to calculate negative offsets e.g. for .input-group */
  --angle-1: 160deg; /* gradient direction; main, cta */
  --angle-2: 45deg; /* gradient direction; dark */
  --angle-3: -15deg; /* hero section */

  /* Gradients */
  /* FIXME: Using hsl() breaks postcss-color-function when doing blend(): https://git.io/vxKf2 */
  /*
  --gradient-primary-0: hsl(187, 100%, 50%);
  --gradient-primary-100: hsl(214, 97%, 47%);
  --gradient-secondary-0: hsl(271, 97%, 72%);
  --gradient-secondary-100: hsl(263, 63%, 49%);
  --gradient-dark-0: hsl(246, 30%, 32%);
  --gradient-dark-100: hsl(249, 33%, 16%);
  */
  --gradient-primary-0: #00e1ff;
  --gradient-primary-100: #0368ec;
  --gradient-secondary-0: #b972fc;
  --gradient-secondary-100: #6a2ecb;
  --gradient-dark-0: #3e396a;
  --gradient-dark-100: #1f1b36;
  --gradient-primary-10: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 10%));
  --gradient-primary-20: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 20%));
  --gradient-primary-30: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 30%));
  --gradient-primary-40: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 40%));
  --gradient-primary-50: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 50%));
  --gradient-primary-60: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 60%));
  --gradient-primary-70: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 70%));
  --gradient-primary-80: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 80%));
  --gradient-primary-90: color(var(--gradient-primary-0) blend(var(--gradient-primary-100) 90%));
  --gradient-secondary-10: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 10%));
  --gradient-secondary-20: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 20%));
  --gradient-secondary-30: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 30%));
  --gradient-secondary-50: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 50%));
  --gradient-secondary-60: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 60%));
  --gradient-secondary-70: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 70%));
  --gradient-secondary-80: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 80%));
  --gradient-secondary-90: color(var(--gradient-secondary-0) blend(var(--gradient-secondary-100) 90%));
  --gradient-dark-90: color(var(--gradient-dark-0) blend(var(--gradient-dark-100) 90%));
  --gradient-primary: linear-gradient(var(--angle-1), var(--gradient-primary-0), var(--gradient-primary-100));
  --gradient-secondary: linear-gradient(var(--angle-1), var(--gradient-secondary-0), var(--gradient-secondary-100));
  --gradient-dark: linear-gradient(var(--angle-2), var(--gradient-dark-0), var(--gradient-dark-100));

  /* Colours */
  --primary: var(--gradient-primary-90); /* links, buttons */
  --secondary: var(--gradient-secondary-90); /* call to action, highlights */
  --dark: var(--gradient-dark-90); /* slant-cta */
  --subtle: var(--blue-grey-200); /* footer, title subheading */
  --body-font-colour: var(--dark);
  --body-bg-colour: var(--grey-50);
  --alt-bg-colour: var(--grey-100); /* alternating background in lists, tables, etc. */

  /* Shadows */
  --shadow-colour: hsl(236, 46%, 19%);
  --shadow-colour-subtle: hsl(225, 23%, 52%);
  /* filter:drop-shadow() */
  --shadow-base: color(var(--shadow-colour) alpha(0.33));
  --shadow: 0 1rem 0.95rem var(--shadow-base);
  --shadow-subtle: 0 0.3125rem 0.28rem color(var(--shadow-colour-subtle) alpha(0.2));
  --shadow-light-1: 0 0.625rem 1.5rem color(var(--shadow-colour) alpha(0.06));
  --shadow-light-2: 0 0.125rem 0.25rem color(var(--shadow-colour) alpha(0.076));
  /* box-shadow */
  --shadow-base-legacy: color(var(--shadow-colour) alpha(0.28));
  --shadow-legacy: 0 1rem 2rem var(--shadow-base-legacy);
  --shadow-subtle-legacy: 0 0.3125rem 1rem color(var(--shadow-colour-subtle) alpha(0.2));
  --shadow-light-1-legacy: 0 0.625rem 2.5rem color(var(--shadow-colour) alpha(0.07));
  --shadow-light-2-legacy: 0 0.125rem 0.56rem color(var(--shadow-colour) alpha(0.06));

  /* Typography */
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Cantarell, "Helvetica Neue", sans-serif;
  --font-family-monospace: monospace;
  --font-size-fluid-max: 1.3125rem; /* font size will grow from --font-size to this */
  --font-size-fluid-from: 30em; /* start growing font from this screen width */
  --font-size-fluid-until: 90em; /* stop growing font size at this screen width */
  --font-size: 1rem; /* use the browser's default font size, normally 16px */
  --font-size-s: 1.125rem; /* only used when --use-font-size-fluid is false */
  --font-size-l: 1.125rem; /* only used when --use-font-size-fluid is false */
  --font-weight-light: 300;
  --font-weight: 500;
  --font-weight-heavy: 700;
  --line-height: 1.25;
  /* headings */
  --headline-font-size: 6rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.875rem;
  --heading-small-font-colour: var(--grey-500);
  /* paragraphs */
  --paragraph-line-height: 1.5;
  --paragraph-lead-font-size: 1.625rem;
  /* links */
  --link-click-area: 0.25rem; /* increase if you don't have links close to each other (otherwise they may overlap) */
  --link-font-colour: var(--primary);
  --link-hover-font-colour: color(var(--primary) blackness(16%));
  /* other */
  --hr-margin: 3rem 0;
  --quote-font-size: 2rem;
  --quote-mark-font-size: 3em; /* em (not rem) so it's relative to the parent font size */
  --abbreviation-line-colour: var(--yellow-400);
  --abbreviation-line-thickness: 0.3rem;

  /* Lists */
  --li-margin-between: 0.5rem;

  /* Navigation */
  --nav-link-padding-x: 1.3rem;
  --nav-link-padding-y: 0.9rem;
  --side-nav-link-margin-y: 0.2rem;
  --side-nav-active-bg-colour: var(--blue-grey-50);
  --side-nav-border-width: 0.2rem;
  --side-nav-border-colour: var(--primary);
  --footer-margin-y: 5rem;
  --footer-font-colour: var(--subtle);

  /* Buttons */
  --btn-padding-x: 1.875rem;
  --btn-padding-y: 0.75rem;
  --btn-font-colour: var(--blue-grey-800);
  --btn-bg-colour: var(--white);
  --btn-radius: var(--radius);
  --btn-shadow: 0 0.18rem 0.18rem color(var(--shadow-colour) alpha(0.16));
  --btn-shadow-legacy: 0 0.125rem 0.375rem color(var(--shadow-colour) alpha(0.18));
  --btn-hover-font-colour: var(--link-hover-font-colour);
  --btn-hover-bg-colour: var(--blue-grey-100);
  --btn-disabled-font-colour: var(--blue-grey-200);
  --btn-disabled-border-colour: var(--blue-grey-50);
  --btn-arrow-animate-speed: 200ms;
  --btn-margin-between: 1.5rem; /* space between buttons */
  --btn-cta-bg-gradient: linear-gradient(var(--angle-1), var(--gradient-secondary-10), var(--gradient-secondary-100));
  --btn-cta-shadow: 0 0.18rem 0.18rem color(var(--gradient-secondary-100) alpha(0.5));
  --btn-cta-shadow-legacy: 0 0.2rem 0.45rem color(var(--gradient-secondary-90) alpha(0.4));
  --btn-main-bg-gradient: linear-gradient(var(--angle-1), var(--gradient-primary-40), var(--gradient-primary-100));
  --btn-main-shadow: 0 0.18rem 0.18rem color(var(--gradient-primary-100) alpha(0.5));
  --btn-main-shadow-legacy: 0 0.2rem 0.45rem color(var(--gradient-primary-90) alpha(0.4));
  --btn-dark-bg-gradient: var(--gradient-dark);
  --btn-dark-shadow: 0 0.18rem 0.18rem color(var(--dark) alpha(0.4));
  --btn-dark-shadow-legacy: 0 0.2rem 0.45rem color(var(--dark) alpha(0.3));

  /* Forms */
  --form-help-font-colour: var(--grey-600);
  --input-padding-x: 1rem;
  --input-padding-y: 0.6rem;
  --input-font-size: 1.2rem;
  --input-font-colour: var(--body-font-colour);
  --input-bg-colour: var(--white);
  --input-border: 1px solid var(--grey-300);
  --input-radius: var(--radius);
  --input-hover-border-colour: var(--grey-400);
  --input-focus-outline: 2px solid var(--primary);
  --input-valid-colour: var(--green-500); /* TODO: Remove if not used */
  --input-invalid-colour: var(--red-500); /* TODO: Remove if not used */
  --input-placeholder-font-colour: var(--blue-grey-400);
  --input-disabled-font-colour: var(--blue-grey-200);
  --input-disabled-border-colour: var(--blue-grey-50);
  --input-disabled-placeholder-font-colour: var(--blue-grey-100);

  /* Cards */
  --card-padding-x: 1.3rem;
  --card-padding-y: 1.2rem;
  --card-bg-colour: var(--blue-grey-100);
  --card-shadow: var(--shadow-subtle);
  --card-shadow-legacy: var(--shadow-subtle-legacy);
  --card-touch-optimize: var(--optimize);
  --card-touch-bg-colour: var(--body-bg-colour);
  --card-touch-shadow-1: var(--shadow-light-1);
  --card-touch-shadow-2: var(--shadow-light-2);
  --card-touch-shadow-1-legacy: var(--shadow-light-1-legacy);
  --card-touch-shadow-2-legacy: var(--shadow-light-2-legacy);
  --card-touch-animate-speed: 200ms;
  --card-touch-hover-shadow-1: var(--shadow);
  --card-touch-hover-shadow-2: 0 0.125rem 0.25rem color(var(--shadow-colour) alpha(0.07));
  --card-touch-hover-shadow-1-legacy: var(--shadow-legacy);
  --card-touch-hover-shadow-2-legacy: 0 0 0 transparent;

  /* Alerts */
  --alert-padding: 1rem;
  --alert-margin-y: 2rem;
  --alert-border-size: 4px;
  --alert-tip-font-colour: var(--green-800);
  --alert-tip-bg-colour: var(--green-100);
  --alert-tip-border-colour: var(--green-500);
  --alert-info-font-colour: var(--blue-800);
  --alert-info-bg-colour: var(--blue-100);
  --alert-info-border-colour: var(--blue-500);
  --alert-warning-font-colour: var(--amber-900);
  --alert-warning-bg-colour: var(--amber-100);
  --alert-warning-border-colour: var(--amber-500);
  --alert-error-font-colour: var(--red-700);
  --alert-error-bg-colour: var(--red-100);
  --alert-error-border-colour: var(--red-500);

  /* Labels */
  --label-padding: 0.04rem 0.4rem 0.08rem;
  --label-font-size: 90%;
  --label-font-colour: var(--gradient-primary-100);
  --label-bg-colour: var(--body-bg-colour);
  --label-border: 1px solid var(--primary);
  --label-border-radius: var(--radius);
  --label-margin-between: var(--btn-margin-between);

  /* Grid templates */
  --template-card-body-padding: 1rem 1rem 0;
  --template-card-button-padding: 0 1rem 1rem;

  /* Sections */
  --slant-size-factor: 3.5rem; /* used to calculate section whitespace and size */
  --slant-angle: -4deg;
  --slant-angle-large: -3deg;
  --slant-bg-colour: hsl(213, 35%, 94%);
  --slant-cta-font-colour: var(--white);
  --slant-cta-bg-colour: var(--dark);
  --slant-cta-link-colour: color(var(--link-font-colour) lightness(61%));
  --hero-font-colour: var(--white);
  --hero-bg-gradient: linear-gradient(var(--angle-3), var(--gradient-primary-20), var(--gradient-primary-100));

  /* Minimal navbar (lightweight alternative to navbar component) */
  --navbar-font-colour: var(--white);
  --navbar-bg-colour: var(--primary);
  --navbar-shadow: 0 0 0.5rem var(--shadow-base);
  --navbar-hover-bg-colour: var(--link-hover-font-colour);
  --navbar-hamburger-size-x: 1.25rem;
  /* --navbar-hamburger-font-colour: var(--primary); */
  --navbar-hamburger-font-colour: var(--navbar-font-colour);

  /* @wearegenki/vue-navbar component */
  --navbar-optimize: var(--optimize);
  --navbar-bg-colour: var(--body-bg-colour);
  --navbar-animate-speed: 200ms;
  --navbar-shadow-fade-speed: 300ms;
  --navbar-shadow: 0 0.5rem 1rem var(--shadow-base);
  --navbar-shadow-legacy: 0 0.5rem 2rem var(--shadow-base-legacy);
  --navbar-shadow-before: 0 0.5rem 1rem color(var(--shadow-colour) alpha(0)); /* same as --navbar-shadow but 0 alpha */
  --navbar-icon-size: 2rem;
  --navbar-logo-size-x: 4rem;
  --navbar-logo-size-y: 2rem;
  --navbar-logo-padding: 0.65rem 0 0;

  /* @wearegenki/vue-input-toggle component */
  --input-toggle-optimize: var(--optimize);
  --input-toggle-width: 8rem;
  --input-toggle-on-font-colour: var(--white);
  --input-toggle-on-bg-colour: var(--green-500);
  --input-toggle-off-font-colour: var(--btn-font-colour);
  --input-toggle-off-bg-colour: var(--grey-400);
  --input-toggle-inner-shadow: inset 0 -0.125rem 0.6rem color(var(--shadow-colour) alpha(0.15));
  --input-toggle-slider-inner-shadow: inset 0 -1rem 0.4rem color(var(--shadow-colour) alpha(0.05));
  --input-toggle-animate-in-speed: 180ms;
  --input-toggle-animate-out-speed: 130ms;
  --input-toggle-hover-slider-bg-colour: var(--grey-200);
  --input-toggle-disabled-slider-bg-colour: var(--grey-100);
  --input-toggle-mini-width: calc(var(--input-toggle-width) / 1.7);
  --input-toggle-mini-slider-inner-shadow: inset 0 -0.7rem 0.4rem color(var(--shadow-colour) alpha(0.05));

  /* @wearegenki/vue-input-select component */
  --input-select-optimize: var(--optimize);
  --input-select-bg-colour: var(--white);
  --input-select-shadow: var(--shadow);
  --input-select-shadow-legacy: var(--shadow-legacy);
  --input-select-selected-font-colour: var(--white);
  --input-select-selected-bg-colour: var(--link-hover-font-colour);
  --input-select-caret-colour: var(--blue-grey-800);
  --input-select-caret-size: 0.3rem;
  --input-select-animate-speed: 150ms;
  --input-select-disabled-font-colour: var(--btn-disabled-font-colour);
  --input-select-disabled-caret-colour: var(--grey-500);

  /* @wearegenki/vue-toasts component */
  --toast-item-optimize: var(--optimize);
  --toast-item-zindex: 999;
  --toast-item-width: 24rem;
  --toast-item-bottom: 1.2rem;
  --toast-item-left: 2rem;
  --toast-item-padding-x: 1.5rem;
  --toast-item-padding-y: 1.1rem;
  --toast-item-font-colour: var(--white);
  --toast-item-bg-colour: var(--grey-900);
  --toast-item-shadow: var(--shadow);
  --toast-item-shadow-legacy: var(--shadow-legacy);
  --toast-item-animate-in-speed: 150ms;
  --toast-item-animate-out-speed: 300ms;
  --toast-item-font-size: 1.1rem;
  --toast-item-action-font-colour: var(--blue-500);
  --toast-item-action-hover-font-colour: var(--blue-400);
  --toast-item-warning-font-colour: var(--amber-400);
  --toast-item-error-font-colour: var(--red-400);

  /* @wearegenki/vue-tabs component */
  --tab-font-size: 1.1rem;
  --tab-border-width: 0.17rem;
  --tab-border-colour: var(--link-font-colour);
  --tab-hover-border-colour: var(--grey-400);

  /* @wearegenki/vue-directive-tooltip custom directive */
  --tooltip-optimize: true; /* enabled by default to prevent stuttering */
  --tooltip-zindex: 1; /* relative to the parent element */
  --tooltip-padding-x: 1rem;
  --tooltip-padding-y: 0.75rem;
  --tooltip-font-colour: var(--white);
  --tooltip-bg-colour: var(--grey-800);
  --tooltip-bg-colour: var(--black);
  --tooltip-bg-colour: var(--grey-900);
  --tooltip-shadow: var(--shadow);
  --tooltip-shadow: 0 0.4rem 0.3rem var(--shadow-base);
  --tooltip-shadow-legacy: var(--shadow-legacy);
  --tooltip-animate-speed: 150ms;
  --tooltip-triangle-size: 0.5rem;
}
