/* TODO: Implement a default, primary, and secondary button style */
/* REF: https://getuikit.com/docs/button */

.btn {
  --shadow-light3: rgba(62, 57, 107, 0.12);

  display: inline-block;
  padding: 0.75rem 2rem;
  line-height: 1;
  color: var(--primary);
  background-color: var(--body-bg);
  border: 1px solid var(--blue-grey-50);
  border-radius: var(--radius);
  box-shadow: 0 2px 6px 0 rgba(51, 65, 97, 0.4);
  box-shadow:
    0 0.625rem 2.5rem 0 var(--shadow-light1),
    0 0.125rem 0.56rem 0 var(--shadow-light2);

  &:hover,
  &:active {
    color: var(--white);
    text-decoration: none;
    background-color: var(--blue-600);
  }
}

.btn-main,
.btn-cta {
  color: var(--white);
  border: 0;
}

/* TODO: Better hover state */

.btn-main {
  background-image: linear-gradient(80deg, #00aeff, #3369e7);
  box-shadow: 0 2px 6px 0 rgba(51, 105, 231, 0.4);
}

.btn-cta {
  background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
  box-shadow: 0 4px 12px rgba(45, 222, 152, 0.4);
}

.btn-outline {
  border: 2px solid var(--blue-500);
  box-shadow: none;
}

/* Remove browser default button styles */
.btn-clear {
  background: transparent;
  border: 0;
  box-shadow: none;
}

/* Spacing between buttons */
.btn + .btn {
  margin-left: 1.5rem;
}

/* FIXME: Remove if unnused */
.btn-large {
  /* TODO: Font size calculation at breakpoints */
  font-size: calc(var(--font-size) * 1.2);
}
