/* FIXME: Stylelint in both VS Code and webpack setup */

.btn {
  padding: 0.4rem 0.9rem;
  /* margin: 0 0.3rem; */ /* FIXME: Probably don't need this */
  margin: 0;
  font-size: var(--font-size);
  line-height: 1;
  color: var(--body-colour);
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: var(--radius);

  &:hover,
  &:active {
    color: var(--body-colour);
    text-decoration: none;
    background-color: var(--grey-lighter);
  }
}

.btn-link {
  background: transparent;
  border: 1px solid transparent;

  &:hover {
    text-decoration: underline;
  }
}

.btn + .btn {
  margin-left: 0.15rem;
}

.btn-lg {
  font-size: calc(var(--font-size) * 1.2); /* FIXME: Simplify in compiled output; can postcss do calculation like SCSS? */
}
