.btn {
  display: inline-block;
  padding: 0.75rem 1.875rem;
  line-height: 1;
  color: var(--primary);
  background-color: var(--body-bg);
  border: 1px solid var(--blue-grey-50);
  border-radius: var(--radius);
  box-shadow:
    0 0.2rem 1rem 0 color(var(--shadow-base) alpha(0.1)),
    0 0.125rem 0.175rem 0 color(var(--shadow-base) alpha(0.06));
  transition: color 0s;

  &:hover,
  &:focus {
    color: var(--white);
    text-decoration: none;
    background-color: var(--link-hover-colour);
  }
}

.btn-main,
.btn-cta,
.btn-caution {
  color: var(--white);
  border: 0;
}

.btn-main {
  background-image: linear-gradient(115deg, var(--primary-gradient-35), var(--primary-gradient-90));
  box-shadow: 0 0.125rem 0.375rem 0 color(var(--primary-gradient-90) alpha(0.4));
}

.btn-cta {
  background-image: linear-gradient(115deg, var(--secondary-gradient-35), var(--secondary-gradient-90));
  background-image: linear-gradient(284deg, #1cc7d0, #2dde98);
  box-shadow: 0 0.25rem 0.75rem rgba(45, 222, 152, 0.4);
}

/* Remove browser default button styles */
.btn-clear {
  background: transparent;
  border: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    color: var(--white);
  }
}

/* Spacing between buttons */
.btn + .btn {
  margin-left: 1.5rem;
}

/* FIXME: Remove below if unused */

.btn-group {
  display: flex;
  /* flex-direction: row; */
}

.btn-large {
  /* TODO: Font size calculation at breakpoints */
  font-size: calc(var(--font-size) * 1.2);
}
