/* Cards */

.card {
  display: block;
  padding: 1.2rem 1.3rem;
  margin: 0;
  border: 1px solid var(--blue-grey-100);
}

.card-shadow {
  border: 1px solid var(--blue-grey-50);
  box-shadow:
    0 0.625rem 2.5rem 0 var(--shadow-light1),
    0 0.125rem 0.625rem 0 var(--shadow-light2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;

  &:hover {
    box-shadow: 0 1rem 2rem 0 var(--shadow), 0 0 0 transparent;
    transform: translateY(-5px) translateZ(0);
  }
}
