/* Cards */

.card {
  padding: 1.2rem 1.3rem;
  margin: 0;
  word-wrap: break-word;
  background-color: var(--blue-grey-100);
  box-shadow: var(--shadow-subtle);
}

/* FIXME: Convert many animation values to variables */

.card-shadow {
  background-color: var(--body-bg);
  border: 1px solid var(--blue-grey-50);
  box-shadow: var(--shadow-light);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;

  &:hover {
    text-decoration: unset;
    box-shadow:
      var(--shadow),
      0 0 0 transparent;
    transform: translateY(-5px);
  }

  &:hover .btn-clear {
    color: var(--link-hover-colour);
    background-color: unset;
  }

  .btn-arrow {
    display: inline-block;
    transition: transform 0.2s ease;
  }

  &:hover .btn-arrow {
    transform: translateX(0.3rem);
  }
}

/* TODO: Image veiled overlay + reveal on hover -- works to bring focus on card body first before looking at the image (but what about the touch device experience?) */
/* REF: https://www.algolia.com/customers */
/*  ↳ + them badges are nice yo! */
