/* Colour */

.white { color: var(--white); }
.black { color: var(--black); }
.grey { color: var(--grey-500); }
.red { color: var(--red-500); }
.green { color: var(--green-500); }
.blue { color: var(--blue-500); }
.amber { color: var(--amber-500); }
.yellow { color: var(--yellow-500); }

.plain { color: var(--body-colour); }
.subtle { color: var(--subtle); }
.inherit { color: inherit; }
/* !important version to override :hover etc. states too */
.inherit-i { color: inherit !important; } /* stylelint-disable-line declaration-no-important */
