/*
  CONTAINER

  Width is fluid until --container-max-width.
*/

.con {
  max-width: var(--container-width-max);
  padding-right: var(--gutter-col);
  padding-left: var(--gutter-col);
  margin-right: auto;
  margin-left: auto;

  @media (--breakpoint-not-small) {
    padding-right: calc(var(--gutter-col) * 2);
    padding-left: calc(var(--gutter-col) * 2);
  }
}

.narrow {
  max-width: var(--container-width-narrow);
}
