/* Display */

.db { display: none; }
.db { display: block; }
.di { display: inline; }
.dib { display: inline-block; }

@each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
  @media ($media) {
    .db$(ext) { display: none; }
    .db$(ext) { display: block; }
    .di$(ext) { display: inline; }
    .dib$(ext) { display: inline-block; }
  }
}
