/* TODO: Do we need these? */

.none {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.p100 {
  width: 100%;
}

.p75 {
  width: 75%;
}

.p50 {
  width: 50%;
}

.p25 {
  width: 25%;
}
