form {
  margin-top: 1rem;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-help {
  color: var(--grey-600);
}

label {
  display: block;
}

.form-label {
  min-width: 6.5rem;
}

input,
textarea,
select {
  min-width: 17rem;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  color: var(--body-colour);
  background-color: var(--white);
  border: 0;
  border-radius: var(--radius);

  &:focus,
  &:active {
    outline: 2px solid var(--primary);
  }

  &.input-small {
    min-width: 5rem;
    max-width: 7rem;
  }
}

/* TODO: Padding between options */
select {
  padding: 0.2rem 0.4rem;
  background-color: var(--white);
  border: 1px solid var(--grey-500);
}

input[type=checkbox] {
  width: 1.6rem;
  min-width: unset;
  height: 1.6rem;
  margin-right: 0.5rem;
}
