form {
  margin-top: 1rem;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  display: block;
}

input,
textarea,
select {
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: var(--radius);
  outline: none; /* FIXME: This is a bad idea */
}
/* FIXME: Select doesn't stresh all the way to the right like other inputs */

/* TODO: Padding between options */
select {
  padding: 0.2rem 0.4rem;
  background-color: var(--white);
  border: 1px solid var(--grey-500);
}
