/* Navbar */

.nav {
  display: flex;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar-bg {
  color: var(--white);
  background-color: var(--primary);
  box-shadow: 0 0 0.5rem var(--shadow);

  .nav-link {
    color: var(--white);

    &:hover {
      /* TODO: */
      /* background-color: var(--primary-dark); */
      background-color: var(--primary);
    }
  }
}

.nav-link {
  padding: 0.9rem 1rem;
  margin: 0; /* Necessary due to larger click area on <a> links */
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}


/* Sidenav */

.side-nav {
  flex-direction: column;

  > .nav-link {
    margin: 0.2rem 0;

    &.active {
      cursor: default;
      text-decoration: none;
      /* TODO: Change */
      background-color: var(--grey-300);
    }
  }
}


/* Footer */

.footer {
  margin-top: 5rem;
  margin-bottom: 5rem;

  /* TODO: Link colour/style */
  /* &,
  & > a {
    color: var(--grey-600);
  } */
}
