/*
  REBOOT

  README:
    Extra browser resets on top of our _normalize.css
*/

html,
body,
div,
nav,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden; /* opinionated */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  /* font-smooth: always; */ /* TODO: Enable once it's recognised in browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ‑webkit‑text‑size‑adjust: 100%; /* prevent font scaling on iOS (TODO: Keep? Which iOS?) */
}

/* Responsive images (opinionated) */
img {
  max-width: 100%;
  height: auto;
}

/* Simple horizontal rule */
hr {
  width: 100%;
  margin: var(--hr-margin);
  border: 0;
  border-top: 1px solid var(--grey-300);
}

button,
.btn {
  cursor: pointer;

  &:focus {
    outline: 0; /* FIXME: Something which is better for usability and accessibility (e.g. when tabbing) */
  }
}

/* Disabled elements */
.disabled,
[disabled],
:disabled {
  cursor: not-allowed;
}
