/* TODO: Go through the bootstrap reboot file and incorporate anything that may be useful */

/* From tachyons */
html,
body,
div,
article,
section,
main,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
table,
td,
th,
tr,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
.border-box {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden; /* Highly opinionated */
  overflow-y: scroll;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--body-colour);
  background-color: var(--body-bg);

  @media (--breakpoint-not-small) {
    @if var(--font-size-ns) != var(--font-size) {
      font-size: var(--font-size-ns);
    }
  }

  @media (--breakpoint-medium) {
    @if var(--font-size-m) != var(--font-size) {
      font-size: var(--font-size-m);
    }
  }

  @media (--breakpoint-large) {
    @if var(--font-size-l) != var(--font-size) {
      font-size: var(--font-size-l);
    }
  }
}

button {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  @media (--breakpoint-not-small) {
    @if var(--font-size-ns) != var(--font-size) {
      font-size: var(--font-size-ns);
    }
  }

  @media (--breakpoint-medium) {
    @if var(--font-size-m) != var(--font-size) {
      font-size: var(--font-size-m);
    }
  }

  @media (--breakpoint-large) {
    @if var(--font-size-l) != var(--font-size) {
      font-size: var(--font-size-l);
    }
  }
}
