body {
  margin: 0;
  overflow-x: hidden; /* NOTE: Highly opinionated */
  overflow-y: scroll;
  overflow-y: overlay; /* TODO: Does this have any effect in any browsers? */
  background-color: $body-bg;
}
