/* Margin & Padding */

/*
  BASE:
    .m = margin
    .p = padding

  DIRECTION:
    a = all
    h = horizontal
    v = vertical
    t = top
    r = right
    b = bottom
    l = left

  VALUE:
    0 = 0
    1 = 0.25rem
    2 = 0.5rem
    3 = 1rem
    4 = 2rem
    5 = 4rem
    6 = 8rem
    7 = 16rem
    -auto = auto

  RESPONSIVE:
    -ns = not small (both medium and large)
    -m = medium
    -l = large
*/

/* stylelint-disable declaration-block-single-line-max-declarations */

@each $step, $val in (var(--spacing-steps)), (var(--spacing-values)) {
  .ma$(step) { margin: $val; }
  .mh$(step) { margin-right: $val; margin-left: $val; }
  .mv$(step) { margin-top: $val; margin-bottom: $val; }
  .mt$(step) { margin-top: $val; }
  .mr$(step) { margin-right: $val; }
  .mb$(step) { margin-bottom: $val; }
  .ml$(step) { margin-left: $val; }

  .pa$(step) { padding: $val; }
  .ph$(step) { padding-right: $val; padding-left: $val; }
  .pv$(step) { padding-top: $val; padding-bottom: $val; }
  .pt$(step) { padding-top: $val; }
  .pr$(step) { padding-right: $val; }
  .pb$(step) { padding-bottom: $val; }
  .pl$(step) { padding-left: $val; }

  @each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
    @media ($media) {
      .ma$(step)$(ext) { margin: $val; }
      .mh$(step)$(ext) { margin-right: $val; margin-left: $val; }
      .mv$(step)$(ext) { margin-top: $val; margin-bottom: $val; }
      .mt$(step)$(ext) { margin-top: $val; }
      .mr$(step)$(ext) { margin-right: $val; }
      .mb$(step)$(ext) { margin-bottom: $val; }
      .ml$(step)$(ext) { margin-left: $val; }

      .pa$(step)$(ext) { padding: $val; }
      .ph$(step)$(ext) { padding-right: $val; padding-left: $val; }
      .pv$(step)$(ext) { padding-top: $val; padding-bottom: $val; }
      .pt$(step)$(ext) { padding-top: $val; }
      .pr$(step)$(ext) { padding-right: $val; }
      .pb$(step)$(ext) { padding-bottom: $val; }
      .pl$(step)$(ext) { padding-left: $val; }
    }
  }
}

.mh-auto { margin-top: auto; margin-bottom: auto; }
.mv-auto { margin-right: auto; margin-left: auto; }
.mt-auto { margin-top: auto !important; }
.mr-auto { margin-right: auto !important; }
.mb-auto { margin-bottom: auto !important; }
.ml-auto { margin-left: auto !important; }

@each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
  @media ($media) {
    .mh-auto$(ext) { margin-top: auto; margin-bottom: auto; }
    .mv-auto$(ext) { margin-right: auto; margin-left: auto; }
    .mt-auto$(ext) { margin-top: auto !important; }
    .mr-auto$(ext) { margin-right: auto !important; }
    .mb-auto$(ext) { margin-bottom: auto !important; }
    .ml-auto$(ext) { margin-left: auto !important; }
  }
}
