/* README: Some typographic styles are in _reboot */

h1 {
  font-weight: var(--font-weight-light);
}

p {
  line-height: 1.5;
}

a {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  color: var(--link-colour);
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    color: var(--primary);
  }
}

li {
  margin-bottom: 0.5rem; /* Extra space between list items */
}

.display1 {
  font-size: 5rem;
}

.lead {
  font-size: 1.9rem;
  font-weight: var(--font-weight-light);
}

.tl { text-align: left; } /* default */
.tr { text-align: right; }
.tc { text-align: center; }
.tj { text-align: justify; }

@each $media, $ext in (var(--breakpoint-media)), (var(--breakpoints)) {
  @media ($media) {
    .tl$(ext) { text-align: left; }
    .tr$(ext) { text-align: right; }
    .tc$(ext) { text-align: center; }
    .tj$(ext) { text-align: justify; }
  }
}
