body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--body-colour);
}

a {
  color: var(--primary-dark);
  text-decoration: none;

  &:hover {
    color: var(--primary);
    text-decoration: underline;
  }
}

.display1 {
  font-size: 5rem;
}

.lead {
  font-size: 2.2rem;
  font-weight: 300;
}

.text-center {
  text-align: center;
}
