/* TODO: Put these in a better file/place (?) */
hr {
  width: 100%;
  margin: 1rem 0;
  color: transparent;
  border-top: 1px solid var(--grey-300);
}

.disabled,
[disabled],
:disabled {
  cursor: not-allowed;
}
