/* Responsive images */

img { /* highly opinionated */
  max-width: 100%;
  height: auto;
}

/* Simple horizontal rule */

hr {
  width: 100%;
  margin: 4rem 0;
  border-top: 1px solid var(--grey-300);
  border-bottom: 0;
}

/* Disabled elements */

.disabled,
[disabled],
:disabled {
  cursor: not-allowed;
}

/* Border radius */

.rad {
  border-radius: var(--radius);
}
