.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

/* TODO: Put these in a better file/place (?) */
hr {
  width: 100%;
  margin: 1rem 0;
  border-top: 1px solid $grey-lighter;
}

.disabled,
[disabled],
:disabled {
  cursor: not-allowed;
}
