.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

/* TODO: Put hr in a better file/place (?) */
hr {
  width: 100%;
  margin: 1rem 0;
  border-top: 1px solid $grey-lighter;
}
