@import "_variables-colours";

/* Media Queries */
@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);

:root {
  /* Breakpoints */
  --breakpoint-media: --breakpoint-not-small, --breakpoint-medium, --breakpoint-large;
  --breakpoints: -ns, -m, -l;

  /* Grid */
  --item-size: 1fr;
  --cols: auto;
  /* --cols: repeat(12, var(--item-size)); */ /* example new default number of columns */
  --rows: auto;
  --col-steps: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  --row-steps: 1, 2, 3, 4, 5, 6;
  --gutter-col: 30px;
  --gutter-row: calc(var(--gutter-col) / 2);

  /* Colours */
  --primary: var(--blue-500);
  --body-bg: var(--white);
  --body-colour: var(--grey-900);
  --link-colour: var(--primary);
  --shadow: rgba(0, 0, 0, 0.5);

  /* Z-index */
  --toast-z-index: 1080;

  /* Typography */
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-size: 1rem; /* use the browser's default font size; normally 16px */
  --font-size-ns: 1rem;
  --font-size-m: 1rem;
  --font-size-l: 1rem;
  --font-weight: 500;
  --font-weight-light: 300;
  --font-weight-heavy: 700;
  --line-height: 1.2;

  /* Boarders */
  --radius: 0.15rem;

  /* Spacing */
  --spacing-steps: 0, 1, 2, 3, 4, 5, 6, 7;
  --spacing-values: 0, 0.25rem, 0.5rem, 1rem, 2rem, 4rem, 8rem, 16rem;
}
