@import "_variables-colours";

/* TODO: Should the sidebar vars be refactored out into the app variables file? */

/* Media Queries */
@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);

:root {
  /* Breakpoints */
  --breakpoints-long: --breakpoint-not-small, --breakpoint-medium, --breakpoint-large;
  --breakpoints-short: -ns, -m, -l;

  /* Grid */
  --item-size: 1fr;
  --cols: auto;
  /* --cols: repeat(12, var(--item-size)); */ /* Example new default number of columns */
  --rows: auto;
  --max-cols: 12;
  --max-rows: 6;
  --gutter-col: 30px;
  --gutter-row: calc(var(--gutter-col) / 2);

  /* Colours */
  --primary: var(--blue-500);
  --body-bg: var(--white);
  --body-colour: var(--grey-900);
  --link-colour: var(--primary);
  --sidebar-colour: var(--white);
  --sidebar-bg: var(--blue-grey-900);
  --sidebar-drawer-colour: var(--white);
  --sidebar-drawer-bg: var(--grey-900);
  --shadow: rgba(0, 0, 0, 0.5);

  /* Z-index */
  --sidebar-z-index: 1050;
  --sidebar-drawer-z-index: 1030;
  --toast-z-index: 1080;

  /* Typography */
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-size: 1rem;
  --font-size-ns: 1rem;
  --font-size-m: 1rem;
  --font-size-l: 1rem;
  --font-weight: 500;
  --font-weight-light: 300;
  --font-weight-heavy: 700;
  --line-height: 1.2;

  /* Boarders */
  --radius: 0.15rem;

  /* Navs */
  --sidebar-width: 60px;
}
