@import "_variables-colour";

/* Media Queries */
@custom-media --breakpoint-small screen and (min-width: 30em) and (max-width: 48em);
@custom-media --breakpoint-not-small screen and (min-width: 48.01em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64.01em);

:root {
  /* Breakpoints */
  --breakpoint-media: --breakpoint-small, --breakpoint-not-small, --breakpoint-medium, --breakpoint-large;
  --breakpoints: s, ns, m, l;

  /* Grid */
  --item-size: 1fr;
  --cols: auto;
  --rows: auto;
  --auto-cols: var(--item-size);
  --auto-rows: auto;
  --col-steps: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  --row-steps: 1, 2, 3, 4, 5, 6;
  --gutter-col: 1rem;
  --gutter-col-ns: calc(var(--gutter-col) * 2);
  --gutter-row: var(--gutter-col);
  --gutter-row-ns: var(--gutter-row);

  /* Colours */
  --primary: var(--indigo-a700); /* links, buttons */
  --secondary: var(--indigo-a700); /* highlights, CTAs */
  --body-bg: var(--white);
  --body-bg: var(--grey-50);
  --body-colour: var(--blue-grey-900);
  --link-colour: var(--primary);
  --subtile-colour: var(--blue-grey-200); /* footer */

  /* Shadows */
  --shadow-light1: rgba(62, 57, 107, 0.07);
  --shadow-light2: rgba(62, 57, 107, 0.06);
  --shadow: rgba(62, 57, 107, 0.28);
  --shadow-alt: rgba(0, 0, 0, 0.28); /* for dark backgrounds */ /* FIXME: Tweak */

  /* Z-index */
  --toast-z-index: 1080;

  /* Typography */
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-size-fluid-enabled: false; /* experimental fluid font size based on viewport width */
  /* --font-size: 1rem; */ /* use the browser's default font size; normally 16px */
  --font-size: 1rem;
  --font-size-s: 1.125rem;
  --font-size-ns: 1.125rem;
  --font-weight-light: 300;
  --font-weight: 500;
  --font-weight-heavy: 700;
  --line-height: 1.25;
  --h1-font-size: 3rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.875rem;

  /* Boarders */
  --radius: 0.15rem;

  /* Spacing */
  --spacing-steps: 0, 1, 2, 3, 4, 5, 6, 7;
  --spacing-values: 0, 0.25rem, 0.5rem, 1rem, 2rem, 4rem, 8rem, 16rem;

  /* Navigation */
  --menu-colour: var(--primary);
}
