{
  "extends": ["plugin:jest/recommended"],
  "plugins": ["jest"],
  "env": {
    "jest": true,
    "jest/globals": true
  },
  "settings": {
    "rules": {
      "import/no-extraneous-dependencies": ["error", {
        "optionalDependencies": ["test/unit/index.js"]
      }]
    }
  }
}
